<% if(messages && messages.success && messages.success.length > 0)  { %>
    <% for(var i=0; i<messages.success.length; i++) { %>
        <li class="list-none text-green-600"> <%= messages.success[i] %></li>
    <% } %>
<% } %>
<% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i=0; i<messages.error.length; i++) { %>
        <li class="list-none text-red-600"> <%= messages.error[i] %></li>
    <% } %>
<% } %>